<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="~{fragments :: header}"></head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<div class="page-wrapper">
  <div class="container feed" >
    <div class="row">
      <div class="column">

        <form action="/register" method="POST" class="form login-form">
          <div class="form-group-wrapper">
            <h1>Welcome!</h1>

            <h3>Create an Account</h3>
            <div class="card">
              <div class="card-body">
                <div class="column">
                  <label class="card-title" for="username">Username</label>
                  <input class="card-text" id="username" name="username" type="text" required>
                </div>
                <div class="column">
                  <label class="card-title" for="email">Email</label>
                  <input class="card-text" id="email" name="email" type="email" required>
                </div>
                <div class="column">
                  <label class="card-title" for="password">Password</label>
                  <input class="card-text" id="password" name="password" type="password" required>
                </div>
                <div class="column">
                  <label class="card-title" for="conf_password">Confirm Password</label>
                  <input class="card-text" id="conf_password" name="conf_password" type="password" required>
                </div>
                <input type="submit" class="btn btn-primary" id="register-btn" value="Create Account">
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>