<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="~{fragments :: header}"></head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="column">

                <div th:if="${post}" class="card" style="width: 100%">
                    <a href="/posts/index" class="btn btn-primary">Return</a>
                    <div class="card-body">
                        <h5 class="card-title"> [[${post.title}]] </h5>
                        <p class="card-text"> [[${post.body}]] </p>
                        <img class="card-img-top" src="https://placehold.co/600x400" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>