<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="~{fragments :: header}"></head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="column gap-10">

                <div class="row">
                    <a href="/posts" class="post-return"></a>
                </div>

                <div th:if="${post}" class="post">
                    <div class="post-body column justify-center">
                        <div class="column post-head shrink">
                            <div class="row justify-space-between post-user" th:if="${user}">
                                <span>[[${user.username}]]</span>
                                <span>[[${user.email}]]</span>
                            </div>
                            <p class="row post-title"> [[${post.title}]] </p>
                        </div>
                        <p class="post-text"> [[${post.body}]] </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>