<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="~{fragments :: header}"></head>
<body>
<nav th:replace="~{fragments :: navbar}"></nav>

<div class="page-wrapper">
    <div class="container feed" >
        <div class="row">
            <div class="feed">

                <div th:if="${ads}" th:each="ad : ${ads}" class="card">
                    <div class="card-body">
                        <div class="card-title"> [[${ad.title}]] </div>
                        <p class="card-text"> [[${ad.description}]] </p>
                        <a href="/posts/show" class="btn btn-primary">Feed</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>