/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>COLORS<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
:root {
    --red: #ff0073;
    --blue: #33A0FF;
    --green: #33ff92;
    --orange: #ffa83a;
    --yellow: #FFDB33;
    --black: #252525;
    --dietBlack: #2a2a2a;
    --gray: #465444;
    --white: #FBFAF5;
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y:scroll;
    background-color: var(--black);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Container*/
.ani-logo {
    z-index: 0;
    max-width: fit-content;
    border-radius: 5px;
    background-color: var(--black);
    text-align: center;
    position: relative;
}
.ani-spring {
    z-index: 2;
    color: var(--white);
    font-weight: lighter;
    max-width: 50px;
    border-radius: 5px;
}
.ani-feed {
    z-index: 2;
    color: var(--green);
    max-width: 50px;
    border-radius: 5px;
    -webkit-animation: ease-in-out;
    -webkit-animation-name: moodChange;
    -webkit-animation-duration: 2s;
}

.runner {
    z-index: 1;
    position: absolute;
    height: 24px;
    width: 50px;
    border-radius: 5px;
    -webkit-animation: ease-in-out;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes moodChange {
    0% {
        color: var(--black);
    }
    25% {
        color: var(--black);
    }
    50% {
        color: var(--black);
    }
    75% {
        color: var(--black);
    }
    90% {
        color: var(--black);
    }
    100% {
        color: var(--green);
    }
}

@-webkit-keyframes run {
    0% {
        left: 0;
        width: 32px;
        background-color: var(--orange);
    }
    90% {
        left: 40%;
        width: 46px;
        background-color: var(--green);
    }
    100% {
        left: 40%;
        width: 46px;
        background-color: var(--black);
    }
}

/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>NAVBAR<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: var(--black);
    color: var(--white);
}

.navbar-content {
    /*width: 100%;*/
    /*max-width: 1100px;*/
}

.nav-links a {
    color: var(--white);
}

/* LOGO */
.logo { font-size: 32px; }

/* NAVBAR MENU */
.menu {
    display: flex;
    /*gap: 1em;*/
    /*font-size: 18px;*/
}

.menu li {
    text-align: center;
    font-size: 14px;
    border: 1px solid var(--black);
    padding: 2px 8px;
}

.menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
}


/* DROPDOWN MENU */
.services { position: relative; }
.dropdown {
    background-color: var(--black);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li { margin-top: 10px; }
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    border-bottom: 1px solid var(--black);
}
.dropdown li:hover {
    background-color: unset;
    border-radius: 0 0 8px 0;
}
.services:hover .dropdown { display: block; }
input[type=checkbox] { display: none; }


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        border-radius: 0 0 5px 5px;
        padding: 2px;
        display:none;
        position: absolute;
        background-color: var(--dietBlack);
        top: 40px;
        right: 0;
        left: 0;
        text-align: center;
    }

    .menu li {
        padding: 8px 0;
    }

    .menu li:hover {
        display: inline-block;
        }

    .menu li + li {
        /*margin-top: 12px;*/
        }

    input[type=checkbox]:checked ~ .menu {
        display: block;
        }

    .hamburger {
        display: block;
        }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        }

    .dropdown li:hover {
        background-color: var(--green);
        }

    .nav-links .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 5px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .nav-links .hamburger-lines {
        height: 16px;
        width: 20px;
        position: absolute;
        top: 12px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav-links .hamburger-lines .line {
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 10px;
        background: var(--white);
    }
    .nav-links .hamburger-lines .line1 {
        transform-origin: 100% 50%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-links .hamburger-lines .line2 {
        transition: transform 0.1s ease-in;
    }
    .nav-links .hamburger-lines .line3 {
        transform-origin: 100% 50%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-links input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
    }
    .nav-links input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(-45deg);
        background: var(--red);
    }
    .nav-links input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleX(0);
    }
    .nav-links input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(45deg);
        background: var(--red);
    }

}

/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>>CARD<<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
.feed {
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    margin: 5px 0;
    padding: 10px;
    min-width: 450px;
    min-height: fit-content;
    align-content: start;
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 100%;
    min-width: 100%;
    justify-content: space-between;
}

.card-title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    color: var(--black);
}

.card-text {
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
}

.card .btn {
    padding: 3px 10px;
    border-radius: 99px;
    border: 1px solid var(--black);
    font-weight: bold;
    font-size: 12px;
    max-width: fit-content;
    align-self: end;
    background: var(--green) linear-gradient(to left, var(--green) 50%, var(--orange) 50%) right;
    background-size: 200%;
    transition: background .3s ease-out;
}
.card .btn:hover {
    background-position: left;
}

.btn-secondary {
    padding: 3px 10px;
    border-radius: 99px;
    border: 1px solid var(--black);
    font-weight: bold;
    font-size: 12px;
    max-width: fit-content;
    align-self: end;
    background: var(--orange);
    background-size: 200%;
    transition: background .3s ease-out;
}
.btn-secondary:hover {
    background-position: left;
}

/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>>POST<<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
.post {
    width: 100%;
    min-height: fit-content;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    margin: 5px 0;
    padding: 10px 20px;
    align-content: start;
}

.post-user-peek {
    width: 64px;
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 100%;
    /*min-width: 100%;*/
    justify-content: space-between;
}

.post-title {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}

.post-user {
    color: var(--blue);
    font-size: 14px;
    text-align: end;
}
.post-user span:first-of-type {
    color: var(--gray);
    font-size: 14px;
    text-align: end;
}

.post-text {
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
}

.post-return {
    padding: 3px 10px;
    margin-top: 15px;
    border-radius: 0 99px 99px 0;
    border: 1px solid var(--black);
    font-weight: bold;
    font-size: 10px;
    max-width: fit-content;
    align-self: end;
    background: var(--black);
}

.post-return:after {
    content: "Return";
    color: var(--white);
}

.post-spring-btn {
    padding: 3px 10px;
    margin-top: 15px;
    border-radius: 99px;
    border: 1px solid var(--black);
    font-size: 14px;
    width: 50px;
    align-self: end;
    color: white;
    text-shadow: 0 0 2px var(--black);
    background: var(--orange);
}

.post-feed-btn {
    padding: 3px 10px;
    margin-top: 15px;
    border-radius: 99px;
    border: 1px solid var(--black);
    font-size: 14px;
    width: 50px;
    align-self: end;
    color: white;
    text-shadow: 0 0 2px var(--black);
    background: var(--green);
}

/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<COMMENTS>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
#comments-title{
    font-size: 14px;
}

#comments-container {
    padding: 10px 20px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    min-height: 500px;
    max-height: 500px;
}

#comments-feed {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.comment-user-container {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding: 5px 10px;
}

.comment-user-peek {
    min-width: 64px;
}

.comment-username {
    color: var(--black);
    font-size: 14px;
}

.comment-user-said {
    color: var(--gray);
    font-weight: lighter;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 32px;
    resize: none;
}


#login-btn {
    margin-top: 7px;
}

#register-btn {
    margin-top: 7px;
}

/*
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>FOOTER<>><<>><<>><<>><<>><<>><<>><<>><<>><|
|><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><|
*/
footer{
    padding: 20px 20px 40px 20px;
    background: var(--black);
    color: var(--white);
    font-size: 12px;
}
.widget-title {
    font-size: 14px;
}
.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 8px;
    position: relative;
    width: 20%;
}
.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}
.widget-title.text-center span,.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}